version: "3.9"

services:
  server:
    build:
      context: ./tech-int3-server
      dockerfile: Dockerfile
    container_name: moderation-server
    ports:
      - "3001:3001"
    working_dir: /app
    volumes:
      - ./tech-int3-server:/app
      - /app/node_modules
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: moderation-client
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    restart: always
